<template>
  <v-app>
    <Header class="menu-light" />
    <router-view />
    <Footer />
  </v-app>
</template>

<script>
import Header from '@/components/Header'
import init from '@/components/helpers/filters.js'

init()
export default {
  name: 'App',
  components: {
    Header,
  },
}
</script>
