<template>
  <v-app-bar app>
    <v-toolbar-title class="mr-10">Fred</v-toolbar-title>
    <v-btn text class="ml-4"> Dashboard </v-btn>
    <v-spacer></v-spacer>
    <v-btn text> Accounts </v-btn>
    <v-avatar class="mr-10" color="grey" size="32"></v-avatar>
  </v-app-bar>
</template>
